<template>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                   <div class="card-header">
                        <h3 class="card-title" style="margin-top:5px;"><i class="fas fa-list-ul"></i> Daftar New Berita</h3>
                        <div class="card-tools">
                                <router-link :to="{ name: 'tambahNewBerita' }" class="btn btn-md btn-info"><i class="fas fa-plus"></i> Tambah Data Baru</router-link>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive mt-2">
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Judul</th>
                                    <th>Isi</th>
                                    <th>Url Gambar</th>
                                    <th>Link</th>
                                    <th>Aksi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(baru, index) in baru" :key="baru.id_new">
                                    <td>{{ index+1 }}</td>
                                    <td>{{ baru.title }}</td>
                                    <td>{{ baru.content }}</td>
                                    <td>{{ baru.gambar }}</td>
                                    <td>{{ baru.link }}</td>
                                    <td class="text-center">
                                        <router-link :to="{name: 'editNewBerita', params: { id_new: baru.id_new}}" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Edit</router-link>
                                        <button @click.prevent="NewDelete(baru.id_new, index)" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Hapus</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</template>



<script>
    export default {
        data() {
            return {
                baru: []
            }
        },
        created() {
            let uri = `http://localhost:8000/api/admin/new`;
            this.axios.get(uri).then(response => {
                this.baru = response.data.data;
            });
        },
        methods: {
            NewDelete(id, index)
            {
                this.axios.delete(`http://localhost:8000/api/admin/new/${id}`)
                    .then(response => {
                        this.baru.splice(index, 1);
                    }).catch(error => {
                    alert('system error!');
                });
            }
        }
    }
</script>