<template>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                   <div class="card-header">
                        <h3 class="card-title" style="margin-top:5px;"><i class="fas fa-list-ul"></i> Daftar Trending Berita</h3>
                        <div class="card-tools">
                                <router-link :to="{ name: 'tambahTrendingBerita' }" class="btn btn-md btn-info">
                                    <i class="fas fa-plus"></i> 
                                    Tambah Data Baru
                                </router-link>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive mt-2">
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Judul</th>
                                    <th>Tanggal</th>
                                    <th>Url Gambar</th>
                                    <th>Link</th>
                                    <th>Aksi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(trending, index) in trending" :key="trending.id_trending">
                                    <td>{{ index+1 }}</td>
                                    <td>{{ trending.title }}</td>
                                    <td>{{ trending.tanggal }}</td>
                                    <td>{{ trending.gambar }}</td>
                                    <td>{{ trending.link }}</td>
                                    <td class="text-center">
                                        <router-link :to="{name: 'editTrendingBerita', params: { id_trending: trending.id_trending}}" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Edit</router-link>
                                        <button @click.prevent="TrendingDelete(trending.id_trending, index)" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Hapus</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</template>



<script>
    export default {
        data() {
            return {
                trending: []
            }
        },
        created() {
            let uri = `http://localhost:8000/api/admin/trending`;
            this.axios.get(uri).then(response => {
                this.trending = response.data.data;
            });
        },
        methods: {
            TrendingDelete(id, index)
            {
                this.axios.delete(`http://localhost:8000/api/admin/trending/${id}`)
                    .then(response => {
                        this.trending.splice(index, 1);
                    }).catch(error => {
                    alert('system error!');
                });
            }
        }
    }
</script>