<template>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Tambah Data Top Week Berita</div>
                    <div class="card-body">
                        <form @submit.prevent="TopWeekStore">
                            <div class="form-group">
                                <label>Judul</label>
                                <input type="text" class="form-control" v-model="top_week.title" placeholder="Masukkan Judul Berita">
                                <div v-if="validation.title">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.title[0] }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Isi</label>
                                <input type="text" class="form-control" v-model="top_week.content" placeholder="Masukkan Isi Berita">
                                <div v-if="validation.content">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.content[0] }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Url Gambar</label>
                                <input type="text" class="form-control" v-model="top_week.gambar" placeholder="Masukkan Url Gambar">
                                <div v-if="validation.gambar">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.gambar[0] }}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label>Link Berita</label>
                                <input type="text" class="form-control" v-model="top_week.link" placeholder="Masukkan Link Berita">
                                <div v-if="validation.link">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.link[0] }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-md btn-success">Simpan</button>
                                <button type="reset" class="btn btn-md btn-danger">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        data() {
            return {
                top_week: {},
                validation: []
            }
        },
        methods: {
            TopWeekStore() {
                let uri = 'http://localhost:8000/api/admin/top_week/store';
                this.axios.post(uri, this.top_week)
                    .then((response) => {
                        this.$router.push({
                            name: 'top_week'
                        });
                    }).catch(error => {
                    this.validation = error.response.data.data;
                });
            }
        }
    }
</script>