<template>
    <div>
        <!--HAIR NEWS-->
        <div class="wrap2">
            <div class="container3">
                <div class="leftcol" id="app">
                    <div class="title">
                        <h1>All Berita</h1>
                    </div>
                    <div v-for="(all) in all" :key="all.id_all">
                        <div class="panelll">
                            <div class="content" style="text-align:justify">
                                <div class="title2" style="height:20px; width:230px;">
                                    <h1>{{all.kategori}}</h1>
                                </div>
                                <img :src="all.gambar" alt="" style="height:250px; width:250px; float: left; margin:0 8px 4px 0;">
                                <div class="col-md-8">
                                    <h2>{{all.title}}</h2>
                                    <p>
                                        {{all.content}}
                                        <br><br>
                                        <time class="col-xs-6 ">{{all.tanggal}}</time>
                                    </p>
                                    <div class=" button" style="float:left;">
                                        <a :href="all.link">More Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <!--TRANDING-->
                <div class="rightcol">
                    <div class="title">
                        <h1>TRANDING</h1>
                    </div>
                    <div class="panel">
                        <div class="content" id="app2">
                            <marquee direction="up" height="200" onmouseout ="this.start()" onmouseover = "this.stop()" scrollamount="3" width="100%" >
                                <div v-for="(trending) in trending" :key="trending.id_trending">
                                    <ul>
                                        <li>
                                            <a :href="trending.link">{{ trending.title }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </marquee>
                        </div>
                    </div>
                </div>
                <div class="clearing"></div>  
            </div>
        </div>
    </div>
</template>



<script>
    export default {
            data() {
                return {
                    trending: [],
                    all:[]
                }
            },
            created() {
                let uri2 = `http://localhost:8000/api/content/home_page2`;
                this.axios.get(uri2).then(response => {
                    this.trending = response.data.data;
                });
                let uri = `http://localhost:8000/api/content/all_menu`;
                this.axios.get(uri).then((response) => {
                    this.all = response.data.data;
                });
            }}
</script>