<template>
    <div>
        <!--SILEDSHOW-->
        <div class="wrap2">
            <div class="container3" id="app3">
                <div class="banner"> 
                <img src="/images/banner-img.jpg" alt="banner" />
                <div class="banner-shadows"></div>
                </div>
                <div class="clearing"></div>
            </div>
        </div>
        <!--NEW BERITA-->
        <div class="wrap5 ">
            <div class="container" id="app4">
                <div class="title">
                    <h1>TOP WEEK</h1>
                </div>
                <div class="row">
                    <div class="service" > 
                        <div v-for="(top_week) in top_week" :key="top_week.id_top_week">
                            <img :src="top_week.gambar" alt="image" style="width: 200px; height: 200px;" />
                            <div class="title">
                                <h2>{{ top_week.title }}</h2>
                            </div>
                            <div class="content">
                                <p>{{ top_week.content }}</p>
                                <div class="button">
                                    <a :href="top_week.link">More Info </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearing"></div>
            </div>
            <div class="clearing"></div>
        </div>
        <!--TOP WEEK-->
        <div class="wrap2">
            <div class="container3">
                <div class="leftcol" id="app">
                    <div class="title">
                        <h1>NEW NEWS</h1>
                    </div>
                    <div v-for="(baru) in baru" :key="baru.id_new">
                        <div>
                            <div class="panel">
                                <div class="content" style="text-align:justify">
                                    <img :src=" baru.gambar" alt="" style="height:200px; width:200px; float: left; margin:0 8px 4px 0;">
                                    <div class="col-md-8">
                                        <h2>{{ baru.title }}</h2>
                                        <p>{{ baru.content }}</p>
                                        <div class=" button" style="float:left;">
                                            <a :href="baru.link">More Info</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <!--TRANDING-->
                <div class="rightcol">
                    <div class="title">
                        <h1>TRANDING</h1>
                    </div>
                    <div class="panel">
                        <div class="content" id="app2">
                            <marquee direction="up" height="200" onmouseout ="this.start()" onmouseover = "this.stop()" scrollamount="3" width="100%" >
                                <div v-for="(trending) in trending" :key="trending.id_trending">
                                    <ul>
                                        <li>
                                            <a :href="trending.link">{{ trending.title }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </marquee>
                        </div>
                    </div>
                </div>
                <div class="clearing"></div>  
            </div>
        </div>
    </div>
</template>



<script>
    export default {
            data() {
                return {
                    trending: [],
                    top_week:[],
                    baru:[]
                }
            },
            created() {
                let uri2 = `http://localhost:8000/api/content/home_page2`;
                this.axios.get(uri2).then(response => {
                    this.trending = response.data.data;
                });
                let uri3 = `http://localhost:8000/api/content/home_page3`;
                this.axios.get(uri3).then(response => {
                    this.top_week = response.data.data;
                });
                let uri1 = `http://localhost:8000/api/content/home_page1`;
                this.axios.get(uri1).then(response => {
                    this.baru = response.data.data;
                });
            }}
</script>