<template>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Edit Data All Berita</div>
                    <div class="card-body">
                        <form @submit.prevent="AllUpdate">
                             <div class="form-group">
                                <label>Judul</label>
                                <input type="text" class="form-control" v-model="all.title" placeholder="Masukkan Judul Berita">
                                <div v-if="validation.title">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.title[0] }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Isi</label>
                                <input type="text" class="form-control" v-model="all.content" placeholder="Masukkan Isi Berita">
                                <div v-if="validation.content">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.content[0] }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Url Gambar</label>
                                <input type="text" class="form-control" v-model="all.gambar" placeholder="Masukkan Url Gambar">
                                <div v-if="validation.gambar">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.gambar[0] }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Link</label>
                                <input type="text" class="form-control" v-model="all.link" placeholder="Masukkan Link Berita">
                                <div v-if="validation.link">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.link[0] }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Tanggal</label>
                                <input type="text" class="form-control" v-model="all.tanggal" placeholder="Masukkan Tanggal Berita">
                                <div v-if="validation.tanggal">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.tanggal[0] }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Kategori</label>
                                <input type="text" class="form-control" v-model="all.kategori" placeholder="Masukkan Kategori Berita">
                                <div v-if="validation.kategori">
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ validation.kategori[0] }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-md btn-success">Update</button>
                                <button type="reset" class="btn btn-md btn-danger">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                all: {},
                validation: []
            }
        },
        created() {
            let uri = `http://localhost:8000/api/admin/all/${this.$route.params.id_all}`;
            this.axios.get(uri).then((response) => {
                this.all = response.data.data;
            });
        },
        methods: {
            AllUpdate() {
                let uri = `http://localhost:8000/api/admin/all/update/${this.$route.params.id_all}`;
                this.axios.post(uri, this.all)
                    .then((response) => {
                        this.$router.push({name: 'all'});
                    }).catch(error => {
                    this.validation = error.response.data.data;
                });
            }
        }
    }
</script>