<template>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                   <div class="card-header">
                        <h3 class="card-title" style="margin-top:5px;"><i class="fas fa-list-ul"></i> Daftar All Berita</h3>
                        <div class="card-tools">
                                <router-link :to="{ name: 'tambahAllBerita' }" class="btn btn-md btn-info"><i class="fas fa-plus"></i> Tambah Data Baru</router-link>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive mt-2">
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Judul</th>
                                    <th>Isi</th>
                                    <th>Url Gambar</th>
                                    <th>Link</th>
                                    <th>Tanggal</th>
                                    <th>Kategori</th>
                                    <th>Aksi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(all, index) in all" :key="all.id_all">
                                    <td>{{ index+1 }}</td>
                                    <td>{{ all.title }}</td>
                                    <td>{{ all.content }}</td>
                                    <td>{{ all.gambar }}</td>
                                    <td>{{ all.link }}</td>
                                    <td>{{ all.tanggal }}</td>
                                    <td>{{ all.kategori }}</td>
                                    <td class="text-center">
                                        <router-link :to="{name: 'editAllBerita', params: { id_all: all.id_all}}" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Edit</router-link>
                                        <button @click.prevent="AllDelete(all.id_all, index)" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Hapus</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</template>



<script>
    export default {
        data() {
            return {
                all: []
            }
        },
        created() {
            let uri = `http://localhost:8000/api/admin/all`;
            this.axios.get(uri).then(response => {
                this.all = response.data.data;
            });
        },
        methods: {
            AllDelete(id, index)
            {
                this.axios.delete(`http://localhost:8000/api/admin/all/${id}`)
                    .then(response => {
                        this.all.splice(index, 1);
                    }).catch(error => {
                    alert('system error!');
                });
            }
        }
    }
</script>